<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookie</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e1b5626669.js" crossorigin="anonymous"></script>
</head>
<body>

<header>

    <nav>


        <form action="/postbook" method="post" >



        </form>

        <form action="/postbook" method="post" enctype="multipart/form-data">

            <input type="text" placeholder="book title" name="bookTitle">
            <input type="text" placeholder="book author" name="bookAuthor" >
            <input type="file" name="bookCover" />
            <button type="submit">submit</button>
        </form>

    </nav>

</header>

<main>
    <% for(let i = 0; i < books.length; i++){ %>
    <div id="card-id-<%=i%>" class="book-card">
            <div id="<%=books[i]._id%>"> </div>


            <p style=" font-weight: bold;" class="book-title"> <%= books[i].bookTitle %> </p>
            <p class="book-author"><%= books[i].bookAuthor %></p>
            <img class="book-img" src="<%= books[i].imageUrl%>" >



        <i class="update-icon fa-solid fa-pencil"></i>
        <i class="delete-icon fa-solid fa-trash"></i>

        <i id="like-id-<%=i%>" class="like-icon fa-solid fa-thumbs-up"></i>
        <p class="dislike-count"><%= books[i].bookDislikes%></p>
        <p id="likeCount-id-<%=i%>" name="likeCount" class="like-count" ><%= books[i].bookLikes%></p>

        <i  class="dislike-icon fa-solid fa-thumbs-down"></i>

    </div>
        <%}%>



</main>



<footer>

</footer>


<script src="main.js"></script>

</body>
</html>